.lcrv-copy-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  padding: 1em
}

.lcrv-copy-footera {
  font-family: inherit;
  font-size: .6em;
  color: white;
}
.lcrv-copy-footera:hover{
  color: grey
}